<%if @employees.any?%>
<ul>
  <%@employees.each do |employee|%>
  <li><%= link_to employee.name, employee_path(employee)%></li>
  <%end%>
</ul>
<%else%>
<p>No employees to display.</p>
<%end%>
<p><%= link_to "Create new employee", new_employee_path %></p>
