<h1>Employee: <%= @employee.name %></h1>

<%if @employee.projects.any?%>
<ul>
  <%@employee.projects.each do |project|%>
  <li><%= link_to project.name, project_path(project)%></li>
  <%end%>
</ul>
<%else%>
<p>No projects to display.</p>
<%end%>
<p><%= link_to "Edit employee", edit_employee_path(@employee)%></p>
<p><%= link_to "Delete employee", employee_path(@employee),
  :data => {:confirm => "Are you sure?",
  :method => "delete"} %></p>
