<%if @divisions.any?%>
<ul>
  <%@divisions.each do |division|%>
  <li><%= link_to division.name, division_path(division)%></li>
</ul>
<%end%>
<%else%>
<p>No divisions to display.</p>
<%end%>
<p><%= link_to "Create new division", new_division_path %></p>
